@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #FFF;
    margin: 0px;
    padding: 50px 60px;
  }

h1 {
    color: #004E89;
    font-family: 'Abril Fatface';
    font-size: 50px;
    margin: 0;
    text-align: center;
  }
  
  h2 {
    color: #AAA;
    font-size: 16px;
    font-family: 'Abril Fatface';
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-align: center;
  }

.research {
    text-align: center;
    margin-top: 30px;
  }
  
  .research a {
    background-color: #004E89;
    border-radius: 3px;
    color: grey;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .about {
    text-align: center;
}

#font {
    font-family: 'Outfit', sans-serif;
}

#logo-img {
    padding-left: 20px;
}

#nav-pad {
    padding-left: 50px;

}

.middle {
    text-align: center;
} 
  
*{
    font-family: 'Outfit', sans-serif;
}
a{
    color:white;
}
