.about {
    text-align: center;
}

#font {
    font-family: 'Outfit', sans-serif;
}

#logo-img {
    padding-left: 20px;
}

#nav-pad {
    padding-left: 50px;
  
}

.middle {
    text-align: center;
}